<div class="container mt-5">
   
<div class="card " *ngIf="customers">
  
    <div class="card-header ">Customers</div>
    <div class="card-body ">



<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">ID</th>

        <th scope="col">Name</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of customers">
        <th scope="row">1</th>
        <td>{{c.id}}</td>

        <td>{{c.name}}</td>
        <td>{{c.email}}</td>
      </tr>
   
    </tbody>
  </table></div>    </div>

</div>